[submodule "duraark-digitalpreservation"]
	path = duraark-digitalpreservation
	url = https://github.com/DURAARK/duraark-digitalpreservation.git
[submodule "duraark-sessions"]
	path = duraark-sessions
	url = https://github.com/DURAARK/duraark-sessions.git
[submodule "duraark-metadata"]
	path = duraark-metadata
	url = https://github.com/DURAARK/duraark-metadata.git
[submodule "duraark-geometricenrichment"]
	path = duraark-geometricenrichment
	url = https://github.com/DURAARK/duraark-geometricenrichment.git
[submodule "duraark-sda"]
	path = duraark-sda
	url = https://github.com/DURAARK/duraark-sda.git
[submodule "api-gatekeeper"]
	path = api-gatekeeper
	url = https://github.com/DURAARK/api-gatekeeper.git
[submodule "workbench-ui"]
	path = workbench-ui
	url = https://github.com/DURAARK/workbench-ui.git
[submodule "duraark-pointcloud-viewer"]
	path = duraark-pointcloud-viewer
	url = https://github.com/duraark/duraark-pointcloud-viewer.git
[submodule "java-rdf-updater"]
	path = java-rdf-updater
	url = git@github.com:DURAARK/java-rdf-updater.git
